@use 'variables';
@use 'global';

footer {
    background: variables.$third-color;
    padding: 80px 30px;
    .faqs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 15px;
        margin-top: 40px;
    }
}

.greenLine {
    text-align: center;
    padding: 10px;
    color: variables.$secondary-bg-color;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
}